<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--<app-footer></app-footer>
<app-enviar-solicitud></app-enviar-solicitud>
<app-editar-solicitud></app-editar-solicitud>
<app-editarformulario></app-editarformulario>
<app-actualizar-solicitud></app-actualizar-solicitud>
<app-actualizarformulario></app-actualizarformulario>
<app-generarexpediente></app-generarexpediente>
<app-formularioexpediente></app-formularioexpediente>
<app-verificarsolicitud></app-verificarsolicitud>
<app-verificarformulario></app-verificarformulario>
<app-informetecnico></app-informetecnico>
<app-formulaiotecnico></app-formulaiotecnico>
<app-enviarinforme></app-enviarinforme>-->