<main>
<div class="card text-center">
  <div class="card-header bg-warning">
    <h3>Bienvenidos al VRSO Virtual Registry of Social Organizations</h3>
  </div>
  <div class="card-body">
    <div class="card-header1 bg-dark">
      <div class="teditar">
        <p class="card-header text-start">EDITAR SOLICITUD</p>
      </div>
      <p class="text-center">
        Para poder actualizar tu solicitud de registro, necesitas registrar tu
        solicitud,Si ya registraste tu solicitud, ingresa el nombre de tu
        organizacion y el codigo de tu organizacion luego seleccione buscar para
        encontrar su solicitud. Después seleccioné la accion editar para poder
        actualizar su solicitud
      </p>
      <hr>
      <div class="card-body-1">
        <div class="card-header row align-items-center">
            <div class="col text-start ">
            <label>Nombre de la Organización:</label><br>
            <input type="text" class="form-control" placeholder="Ingrese el nombre de su organización" id="nombreorganizacion"></div>
            <div class="col text-start">
            <label>Codigo de la Organizacion:</label><br>
            <input type="text" class="form-control" placeholder="Ingrese el codigo de su organización" id="codigoorganizacion"></div>
            <div class="col">
              <br>
              <input type="search" class="form-control" name="buscar" id="buscar" placeholder="Buscar">
            </div>
        </div><br>
        <div>
            <table class="table">
                <thead class="bg-info">
                  <tr>
                    <th scope="col">NOMBRE DE LA ORGANIZACION</th>
                    <th scope="col">TIPO DE ORGANIZACION</th>
                    <th scope="col">NIVEL</th>
                    <th scope="col">EDITAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Salvador</th>
                    <td>Junta Vecinal</td>
                    <td>Primario</td>
                    <td><button class="btn btn bg-warning" hreft="">EDITAR</button></td>
                  </tr>
                  <tr>
                    <th>Quito</th>
                    <td>Junta Vecinal</td>
                    <td>Primario</td>
                    <td><button class="btn btn bg-warning">EDITAR</button></td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
