.card-body{
    background: rgb(49, 48, 48);
    color: #f0f8ff;
    
}
.card-body-1{
    color: aliceblue;
}
.table{
    color: aliceblue;
}
.teditar{
    color: rgba(255, 234, 0, 0.847);
}
.taba{
    background-color: rgb(96, 52, 6);
}