<main>
  <div class="card text-center">
    <div class="card-header bg-warning">
      <h3>Informe Tecnico</h3>
    </div>
    <div class="card-body">
        <div class="card-header bg-dark">
            <div class="titu">
                <p class="text-start">GENERAR INFORME TECNICO</p>
            </div>
            <p class="text-center">
                Luego de que la solicitud fue observada debe enviar el informe tecnico a la Generencia de Desarrollo Social
                para su respectiva verificacion.A si que debe adjuntar el informe tecnico.Adjuntar el documento que sustente
                el informe tecnico. Solo se aceptan formatos pdf,doc.docx.Seleccione la accion eliminar doc.si adjunto el doc
                o pdf del informe tecnico, tambien puede ver el doc o pdf que adjunto para poder eliminarlo.
            </p>
            <hr>
            <div class="card-body1">
                <br><br><br>
                <div class="table">
                    <div class="col"></div>
                    <div class="col"><button class="btn btn-outline-light">ADJUNTAR INFORME TECNICO</button> </div>
                    <div class="col"></div>
                </div>
                <br><br><br><br>
            </div>
                <button class="btn btn-outline-light">Cancelar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-primary">Enviar</button>
        </div>
    </div>
  </div>
</main>
