<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="Logo" width="60" height="50" class="d-inline-block align-text-top">&nbsp;
        <img src="/assets/logo1.png" alt="Logo1" width="60" height="50" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" routerLinkActive="active">
                <a class="btn btn-outline-dark" routerLink="enviarsolicitud">Enviar Solicitud</a>
              </li>&nbsp;&nbsp;&nbsp;
              <li class="nav-item" routerLinkActive="active">
                <a class="btn btn-outline-dark" routerLink="actualizarsolicitud">Actualizar Solicitud</a>
              </li>&nbsp;&nbsp;&nbsp;
              <li class="nav-item" routerLinkActive="active">
                <a class="btn btn-outline-dark" routerLink="about">Notificaciones</a>
              </li>
            </ul>       
        </div>
    </div>
  </nav>