<main>
    <div class="card text-center">
      <div class="card-header bg-warning">
        <h3>Bienvenidos al VRSO Virtual Registry of Social Organizations</h3>
      </div>
      <div class="card-body">
          <div class="card-header bg-dark">
              <div class="titu">
                  <p class="text-start">REGISTRAR SOLICITUD</p>
              </div>
              <p class="text-center">
                   Para poder crear una organizacion nueva, necesitas registrar una solicitud. Seleccione la accion crear una solicitud para regitrar una organizacion nueva. Si ya enviaste tu solicitud de tu registro y quieres editarla solo se podra editar si la solicitud todavia no ha sido vista, para poder corroborar que tu solicitud ha sido visto, verifica n la parte de notificaciones.Si tu solicitud no fue vsta puedes editarla.
              </p>
              <hr>
              <div class="card-body1">
                  <br><br>
                  <div class="text-center">Dar click para crear una solicitud</div>
                  <br><br>
              </div>
                  <button class="btn btn-outline-light">CREAR SOLICITUD</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-outline-light" routerLink="editarsolicitud" >EDITAR SOLICITUD</button>
          </div>
      </div>
    </div>
  </main>
  